<div class="container">
  <h1>Home</h1>

  <%= link_to "New Article", new_article_path, class: "btn btn-outline-dark" %>
  <%= link_to "New Event", new_event_path, class: "btn btn-outline-dark" %>
  <hr class="my-4">
</div>

<div class="container">
  <% @posts.each do |post| %>
    <% if post.instance_of?(::Article) %>
      <%= render 'article', article: post %>
    <% elsif post.instance_of?(::Event) %>
      <%= render 'event', event: post %>
    <% end %>
  <% end %>
</div>
