<h1>Home</h1>

<%= link_to "New Article", new_article_path %> |
<%= link_to "New Event", new_event_path %>

<div class="post-wrapper"> 
  <% @posts.each do |post| %>
    <% if post.instance_of?(::Article) %>
      <%= render 'article', article: post %>
    <% elsif post.instance_of?(::Event) %>
      <%= render 'event', event: post %>
    <% end %>
  <% end %>
</div>
